<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - Plan+</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="logo">
        <a th:href="@{/}">
            <img th:src="@{/image/logo.png}" alt="Logo"/>
        </a>
    </div>
    <nav>
        <ul class="navbar">
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/about}">О нас</a></li>
            <li><a th:href="@{/catalog}">Каталог услуг</a></li>
            <li><a th:class="cart" th:href="@{/cart}"><img th:src="@{/image/cart.png}" alt="cart"/><span class="cart-count">0</span></a></li>
            <li><a th:href="@{/user/my-orders}">Мои заявки</a></li>
            <li><a th:href="@{/login}">Вход</a></li>
        </ul>
        <button class="menu-toggle" aria-label="Toggle navigation">☰</button>
        <button class="menu-close" aria-label="Close navigation">✖</button>
    </nav>
</header>

<main>
    <section class="promo">
        <h1>О нас</h1>
        <p>Мы - специалисты в разработке бизнес-планов для соцконтракта.</p>
    </section>

    <section class="about">
        <h2>Наша деятельность</h2>
        <p>
            Наша компания занимается разработкой и предоставлением бизнес-планов для соцконтракта. Мы предлагаем как готовые бизнес-планы, так и индивидуальную разработку под конкретные нужды клиента. Также мы занимаемся сопровождением клиента на всех этапах реализации бизнес-плана.
        </p>

        <h2>Что такое соцконтракт?</h2>
        <p>
            Социальный контракт (соцконтракт) – это государственная программа, направленная на поддержку граждан, находящихся в трудной жизненной ситуации. В рамках этой программы граждане могут получить финансовую помощь на развитие собственного дела, реализацию бизнес-идей и проектов.
        </p>

        <h2>Как получить деньги с помощью бизнес-плана?</h2>
        <p>
            Для получения финансовой помощи по соцконтракту необходимо разработать бизнес-план, который будет включать в себя все аспекты будущего бизнеса: от маркетинговой стратегии до финансовых расчетов. Наши специалисты помогут вам создать качественный бизнес-план, который повысит ваши шансы на получение одобрения и финансирования.
        </p>

        <h2>Преимущества индивидуальной разработки бизнес-планов</h2>
        <p>
            Индивидуальная разработка бизнес-плана имеет множество преимуществ:
        </p>
        <ul>
            <li>Подробный анализ и учет всех нюансов вашего бизнеса</li>
            <li>Разработка уникальных стратегий и решений</li>
            <li>Повышенные шансы на получение одобрения по соцконтракту</li>
            <li>Сопровождение и поддержка на всех этапах реализации проекта</li>
        </ul>

        <h2>Дополнительные услуги</h2>
        <p>
            Помимо разработки бизнес-планов, мы предлагаем услуги по:
        </p>
        <ul>
            <li>Консультациям по вопросам получения соцконтракта</li>
            <li>Составлению и подаче заявок</li>
            <li>Маркетинговым исследованиям</li>
            <li>Финансовому анализу и прогнозированию</li>
        </ul>
    </section>

    <section class="testimonials">
        <h2>Отзывы клиентов</h2>
        <div class="testimonial">
            <p>Я долгое время искала идею для бизнеса, чтобы получить соцконтракт. Наткнулась на эту компанию и не пожалела! В нем есть все, что нужно для успешного старта: финансовые расчеты, описание бизнес-модели, даже маркетинговая стратегия. Благодаря этому плану, я быстро подготовила все документы и получила одобрение на соцконтракт! Большое спасибо за такой качественный продукт!</p>
            <span>- Анна, г.Новосибирск</span>
        </div>
        <div class="testimonial">
            <p>Я открыла свое дело по пошиву одежды с помощью соцконтракта.  Без готового бизнес-плана, думаю,  было бы намного сложнее! План плюс помог мне не только получить соцконтракт, но и грамотно спланировать развитие моего бизнеса.  Я  уже  вижу  результаты!  С  этим  планом  можно  быстро  и  уверенно  начать  свое  дело.</p>
            <span>- Екатерина, г. Искитим</span>
        </div>
        <div class="testimonial">
            <p>Я  очень  рада,  что  решила  заказать бизнес-план.  Долго  искала  что-то  по-настоящему  качественное  и  профессиональное.  Этот  план  позволил  мне  уверенно  представить  свою  идею  коммисии  и  получить  одобрение  на  соцконтракт.  Теперь  я  запускаю  свое  дело  и  уверена  в  успехе!</p>
            <span>- Наталья, г. Екатеринбург</span>
        </div>
    </section>
</main>

<footer>
    <div class="social-links">
        <a href="https://vk.com" target="_blank">VK</a>
        <a href="https://facebook.com" target="_blank">Facebook</a>
        <a href="https://instagram.com" target="_blank">Instagram</a>
    </div>
    <p>&copy; <span id="current-year"></span> План+. Все права защищены.</p>
</footer>

<script th:src="@{/js/menu-toggle.js}"></script>
<script th:src="@{/js/current-year.js}"></script>
</body>
</html>
